.checkout {
  display: flex;
  padding: 2rem;
  /* background-color: white; */
  height: max-content;
}
.checkout__title {
  margin-right: 1rem;
  padding: 1rem;
  border-bottom: 0.1rem solid lightgray;
}
.checkout__ad {
  width: 100%;
  margin-bottom: 1rem;
}
.checkout__left {
  flex: 1;
}

@media screen and (max-width: 450px) {
  .checkout__left {
    flex: unset;
    width: 85%;
  }
}
