.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  height: 10rem;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 1rem;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 3px;
}
.subtotal > button {
  background: #f0c14b;
  border: 1px solid;
  border-radius: 2px;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

@media screen and (max-width: 450px) {
  .subtotal {
    height: 9rem;
    margin-left: 0.8rem;
  }
  .subtotal > button {
    font-size: 1.6rem;
  }
}
